<!doctype html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Playfair+Display:900italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>Instra.io</title>
  <meta name="description" content="Instajam is a wrapper for the Instagram API.">
  <meta name="keywords" content="instajam, instagram, javascript, api, mike fowler">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/github.min.css">
  <link rel="stylesheet" href="css/vendor/ladda.min.css"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header role="banner" class="masthead">
    <h1 class="masthead__branding">Insta.io</h1>
  </header>
  
  <div id="main" class="container" role="main"></div>

  <footer role="contentinfo" class="footer container">Feito por <a href="http://danilo.github.io">Danilo</a>.</footer>

  <div class="overlay js-overlay"></div>

  <script name="main" type="text/template">
    
    <div class="auth-hero">
      <h2>Instajam is a wrapper for the Instagram API.</h2>
      <% if (!authenticated) { %>
        <p>Log in with your Instagram account to try it out.</p>
        <a class="ladda-button" data-size="large" data-color="purple" data-style="expand-right" href="<%= authUrl %>"><span class="ladda-label">Authenticate</span></a>
      <% } else { %>
        <p>Click the “Try Me” buttons below to give it a spin. Once you're sold we can <a class="js-logout" href="#">log you out.</a>.</p>
      <% } %>
    </div>


   
  </script>

  <script name="button" type="text/template">
    <p class="clear"><button class="ladda-button align-right js-try-it" data-method="<%= method %>" data-size="small" data-style="expand-right" data-color="purple"><span class="ladda-label">Try it!</span></button></p>
  </script>

  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="js/vendor/spin.min.js"></script>
  <script src="js/vendor/ladda.min.js"></script>
  
  <script src="dist/instajam.min.js"></script>
  <script src="js/app.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10512170-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>