body {
	margin: 0;
}
#rudr_instafeed{
	margin: 0;
  list-style:none;
  padding: 0px;
}
#rudr_instafeed li{
  float:left;
  width: 14%;
  margin: 1px;
}
#rudr_instafeed li:hover {
    opacity: 0.7;
    transition: 2s;
}
#rudr_instafeed li img{
  max-width:100%;
  max-height:100%;
}